body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Value Sans Pro';
  src: url('./assets/fonts/Value-sans-pro/ValueSansPro-Regular.eot');
  src: local('Value Sans Pro Regular'), local('ValueSansPro-Regular'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Regular.woff2') format('woff2'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Regular.woff') format('woff'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('./assets/fonts/Value-sans-pro/ValueSansPro-MediumItalic.eot');
  src: local('Value Sans Pro Medium Italic'), local('ValueSansPro-MediumItalic'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-MediumItalic.woff2') format('woff2'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-MediumItalic.woff') format('woff'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('./assets/fonts/Value-sans-pro/ValueSansPro-Italic.eot');
  src: local('Value Sans Pro Italic'), local('ValueSansPro-Italic'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Italic.woff2') format('woff2'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Italic.woff') format('woff'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('./assets/fonts/Value-sans-pro/ValueSansPro-Bold.eot');
  src: local('Value Sans Pro Bold'), local('ValueSansPro-Bold'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Bold.woff2') format('woff2'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Bold.woff') format('woff'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('./assets/fonts/Value-sans-pro/ValueSansPro-BlackItalic.eot');
  src: local('Value Sans Pro Black Italic'), local('ValueSansPro-BlackItalic'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-BlackItalic.woff2') format('woff2'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-BlackItalic.woff') format('woff'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('./assets/fonts/Value-sans-pro/ValueSansPro-Black.eot');
  src: local('Value Sans Pro Black'), local('ValueSansPro-Black'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Black.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Black.woff2') format('woff2'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Black.woff') format('woff'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('./assets/fonts/Value-sans-pro/ValueSansPro-Medium.eot');
  src: local('Value Sans Pro Medium'), local('ValueSansPro-Medium'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Medium.woff2') format('woff2'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Medium.woff') format('woff'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('./assets/fonts/Value-sans-pro/ValueSansPro-BoldItalic.eot');
  src: local('./assets/fonts/Value-sans-pro/Value Sans Pro Bold Italic'), local('ValueSansPro-BoldItalic'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-BoldItalic.woff2') format('woff2'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-BoldItalic.woff') format('woff'),
  url('./assets/fonts/Value-sans-pro/ValueSansPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
link, a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: .5s ease-in-out;
  &:hover {
    color: darkgrey;
  }
}

